<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/info/info_index.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="{% static 'images/favicons/favicon.ico' %}" alt="logo">
        </a>
        <ul>
            <li>
                <a href='#'>Home</a>
            </li>
            <li>
                <a href='#'>Introduce Page</a>
            </li>
            <li>
                <a href='#'>Content Page</a>
            </li>
        </ul>
    </header>
    <article class="container main-img">
        <div class="text-box text-center">
            <h2>python and django</h2>
            <p>This is python and django man</p>
        </div>
    </article>
    <article class="container">
        <div class="v250 text-center">
            <h2>Python and Django</h2>
            <p>Python</p>
            <p>django</p>
        </div>
        <div class="row img-part">
            <div class="col-3">
                <figure>
                    <div class="circle">
                        <img src="{% static 'images/info/fig1.png' %}" alt="picture1">
                    </div>
                    <figcaption>
                        <h3>caption</h3>
                        <p>desc</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-3">
                <figure>
                    <div class="circle">
                        <img src="{% static 'images/info/fig2.png' %}" alt="picture2">
                    </div>
                    <figcaption>
                        <h3>caption</h3>
                        <p>desc</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-3">
                <figure>
                    <div class="circle">
                        <img src="{% static 'images/info/fig3.svg' %}" alt="picture3">
                    </div>
                    <figcaption>
                        <h3>caption</h3>
                        <p>desc</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </article>
</body>
</html>