<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/info/info_index.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <a>
            <img src="{% static 'images/favicons/favicon.ico' %}" alt="logo">
        </a>
        <ul>
            <li>
                <a href='#'>Home</a>
            </li>
            <li>
                <a href='#'>Introduce Page</a>
            </li>
            <li>
                <a href='#'>Content Page</a>
            </li>
        </ul>
    </header>
    <article>

    </article>
</body>
</html>